<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['home']"    routerLinkActive="active">Home</a>
   
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['features']"    routerLinkActive="active">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['pricing']"    routerLinkActive="active">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']"    routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>